.wrapper {
	padding: 0;
	margin: 0;
	height: 100%;
	position: relative;
}

.top-navbar {
	position: fixed;
	height: 42px;
	top: 0;
	left: 0;
	right: 0;
	background: #2075c0;
	z-index: 10;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}
.top-navbar-inner {
	position: relative;
	margin-top: 0px;
}

.logo-brand {
	width: 250px;
	height: 42px;
	position: absolute;
	left: 0;
	padding: 0;
	margin-top:1px;
	text-align: center;
	color: #fff;
}

.logo-brand img {
	width: auto;
	max-width: 250px;
}


.car-logo{
	padding-top:3px;	
}

.car-logo img {
	width: auto;
	max-width: 35px;
}



.top-nav-content {
	position: relative;
	margin-left: 250px;
	height: 40px;
	padding-left: 50px;
	padding-right: 50px;
	vertical-align: middle;
	
}



.btn-collapse-sidebar-left {
	/*position: absolute;
	left: 0;
	width: 50px;
	height: 40px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	padding-top: 7px;*/

 }
 
 .iconleft{
 	background:#E5E5E5 url(../../images/iconleft.jpg) no-repeat center ;
 }
 .iconright{
 	background:#E5E5E5 url(../../images/icon.jpg) no-repeat center ;
 }
 .btn-collapse-sidebar-right {
	position: absolute;
	right: 15px;
	top: 0;
	width: 50px;
	height: 40px;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	padding-top: 7px;
	color: #fff;
	color: rgba(1, 1, 1, 0.6);
}

.fa {
	margin: 0 3px;
}

.btn-collapse-nav {
	position: absolute;
	right: -10px;
	width: 50px;
	height: 40px;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	padding-top: 7px;
	display: none;
}


.icon-dinamic {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: All 0.4s ease;
	-moz-transition: All 0.4s ease;
	-o-transition: All 0.4s ease;
}

.icon-dinamic.rotate-180 {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}







ul.nav-user {
	margin: 0;
	padding-top: 1px;
	list-style: none;
	top: 0;
	margin-right: 15px;
}



ul.nav-user.full {
	right: 0;
}

ul.nav-user li.dropdown a.dropdown-toggle {
	display: block;
	color: #656D78;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 220px;
}





/**-------------------------------------------DROPDOWN-------------------------------------------**/
.dropdown-visible {
	display: block;
	position: relative;
}

.dropdown-menu>li>a {
	padding: 5px 15px;
}

.dropdown-menu.square {
	padding: 0;
	border-radius: 0px;
}

.dropdown-menu.no-border {
	border: none;
	-webkit-box-shadow: 0 0px 12px 0 rgba(0, 0, 0, .175);
	box-shadow: 0 0px 12px 0 rgba(0, 0, 0, .175);
}

.dropdown-menu.margin-list>li>a {
	margin: 5px;
}

.dropdown-menu.margin-list-rounded>li>a {
	margin: 5px;
	border-radius: 3px;
}

.dropdown-menu.with-triangle {
	top: 90%;
}

.dropdown-menu.with-triangle:before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.dropdown-menu.with-triangle:after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid transparent;
	content: '';
}

.navbar-right .dropdown-menu.with-triangle:before,.pull-right .dropdown-menu.with-triangle:before,.dropdown-menu.pull-right.with-triangle:before
	{
	right: 12px;
	left: auto;
}

.navbar-right .dropdown-menu.with-triangle:after,.pull-right .dropdown-menu.with-triangle:after,.dropdown-menu.pull-right.with-triangle:after
	{
	right: 13px;
	left: auto;
}

@media ( max-width : 767px) {
	.dropdown-menu.with-triangle:before,.dropdown-menu.with-triangle:after {
		display: none;
	}
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus
	{
	background-color: #00ADD9;
}

.dropdown-menu.primary>li>a:hover,.dropdown-menu.primary>li>a:focus {
	color: #fff;
	background-color: #00ADD9;
}

.dropdown-menu.primary>.active>a,.dropdown-menu.primary>.active>a:hover,.dropdown-menu.primary>.active>a:focus
	{
	background-color: #37BC9B;
}

.dropdown-menu.success>li>a:hover,.dropdown-menu.success>li>a:focus {
	color: #fff;
	background-color: #A0D468;
}

.dropdown-menu.success>.active>a,.dropdown-menu.success>.active>a:hover,.dropdown-menu.success>.active>a:focus
	{
	background-color: #8CC152;
}

.dropdown-menu.info>li>a:hover,.dropdown-menu.info>li>a:focus {
	color: #fff;
	background-color: #4FC1E9;
}

.dropdown-menu.info>.active>a,.dropdown-menu.info>.active>a:hover,.dropdown-menu.info>.active>a:focus
	{
	background-color: #3BAFDA;
}

.dropdown-menu.danger>li>a:hover,.dropdown-menu.danger>li>a:focus {
	color: #fff;
	background-color: #FC6E51;
}

.dropdown-menu.danger>.active>a,.dropdown-menu.danger>.active>a:hover,.dropdown-menu.danger>.active>a:focus
	{
	background-color: #E9573F;
}

.dropdown-menu.warning>li>a:hover,.dropdown-menu.warning>li>a:focus {
	color: #fff;
	background-color: #FFCE54;
}

.dropdown-menu.warning>.active>a,.dropdown-menu.warning>.active>a:hover,.dropdown-menu.warning>.active>a:focus
	{
	background-color: #F6BB42;
}

.sidebar-lefttwo {
	position: fixed;
	top: 42px;
	left: 0;
	bottom: 0;
	width: 250px;
	z-index: 9;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.sidebar-left {
	position: fixed;
	top: 42px;
	left: 0;
	bottom: 0;
	width: 250px;
	z-index: 10;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}


.sidebar-left ul li {
    border-bottom: 1px solid #e7e7e7;
}



.sidebar-right {
	position: fixed;
	top: 42px;
	right: -250px;
	bottom: 0;
	width: 250px;
	background: #E5E5E5;
	z-index: 1;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.sidebar-right-heading {
	position: fixed;
	top: 0;
	right: 0px;
	height: 42px;
	background-color: #1C66AA;
	width: 250px;
	z-index: 6;
}

.sidebar-right-heading .nav-tabs {
	border-bottom: none;
}

.sidebar-right-heading .nav-tabs>li {
	margin-bottom: 0px;
}

.sidebar-right-heading .nav-tabs>li>a {
	margin-right: 0px;
	border: none;
	height: 40px;
	padding-top: 10px;
	color: #656D78;
	font-size: 15px;
}

.sidebar-right-heading .nav-tabs.nav-justified>li {
	display: table-cell;
	width: 1%;
}

.sidebar-right-heading .nav-tabs.nav-justified>li>a {
	margin-bottom: 0;
}

.sidebar-right-heading .nav-tabs>li>a:hover {
	background-color: transparent;
	color: #E6E9ED;
}

.sidebar-right-heading .nav-tabs>li.active>a,.sidebar-right-heading .nav-tabs>li.active>a:hover,.sidebar-right-heading .nav-tabs>li.active>a:focus
	{
	color: #E6E9ED;
	cursor: default;
	border: none;
	background-color: #1C66AA;
	height:42px;
}





.sidebar-menu > li {
  display: block;
}

.sidebar-menu li {
  display: block;
}

.sidebar-menu  li  a {
  font-size:14px;
  color:#76768B;
  display: block;
  padding: 10px 15px;
}
.sidebar-menu  li  a:hover{
	background:#EEF8FC;
	color:#00ADD9;
	text-decoration:none;
}


.sidebar-left .nav-third-level li a {
	font-size: 14px;
}

.sidebar-left.nav-second-level li,
.sidebar-left .nav-third-level li {
    border-bottom: 0!important;
}

ul.sidebar-menu {
	padding: 0;
	margin: 0 0 30px 0;
	list-style: none;
	
	
	padding-left: 0;
  	margin-bottom: 0;  	
  	list-style-type: none;
  	list-style-position: outside;
  	list-style-image: none;
}



ul.sidebar-menu li.static {
	display: block;
	color: #797E89;
	height: 60px;
	padding: 29px 15px 15px 15px;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	font-size: 13px;
}

ul.sidebar-menu li.text-content {
	display: block;
	color: #AAB2BD;
	height: 40px;
	padding: 12px 60px 12px 15px;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	font-size: 13px;
}

ul.sidebar-menu li.text-content .switch {
	position: absolute;
	right: 15px;
	top: 10px;
}

ul.sidebar-menu li {
	display: block;
	color: #AAB2BD;
}

.sidebar-right ul.sidebar-menu li a {
	display: block;
	color: #AAB2BD;
	height: 45px;
	padding: 12px 20px 12px 50px;
	border-bottom: 1px solid #E5E5E5;
	text-decoration: none;
	line-height: 120%;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sidebar-right ul.sidebar-menu li a .icon-sidebar {
	width: 45px;
	height: 45px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	padding: 15px 0;
}

.sidebar-right ul.sidebar-menu li a .span-sidebar {
	position: absolute;
	right: 30px;
	top: 13px;
}

.sidebar-right ul.sidebar-menu li a .chevron-icon-sidebar {
	position: absolute;
	right: 15px;
	top: 14px;
	color: #656D78;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

.sidebar-right  ul.sidebar-menu li.active a .chevron-icon-sidebar {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}



.sidebar-right  ul.sidebar-menu.sidebar-notification {
	margin-bottom: 30px;
}

.sidebar-right  ul.sidebar-menu.sidebar-notification li a {
	padding: 10px 20px 10px 60px;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
}

.sidebar-right ul.sidebar-menu.sidebar-notification li a .activity {
	font-size: 13px;
	color: #767689;
	font-weight: 400;
}

.sidebar-right ul.sidebar-menu.sidebar-notification li a .small-caps {
	font-size: 11px;
	color: #656D78;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 400;
}

.sidebar-right ul.sidebar-menu.sidebar-notification li a .ava-sidebar {
	width: 35px;
	height: 35px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	margin: 10px;
	z-index: 1;
}



.page-content.toggle {
	margin-left: 0px;
}


.sidebar-left.toggle-left {
	left: -250px;
}

.sidebar-right.toggle-left {
	right: 0;
}

.sidebar-left.toggle {
	left: -240px;
}

/* 收起左侧菜单栏后，信息显示不全问题  wangxiaoye 20160928*/
.page-content.toggle {
	margin-left: 10px;
}

.top-navbar.toggle-left {
	left: -250px;
	right: 250px;
}

.page-content.toggle-left {
	margin-left: 0px;
	margin-right: 250px;
}


.page-content {
	padding: 0;
	margin-left: 250px;
	margin-top: 35px;
	overflow:hidden;
	z-index: 2;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
	position:relative;
}

.dealer-logo{
	background-color:#fff;
	/* float: right;
	margin-right: 400px;*/
	margin-top: 10px; 
}
.dealer-text{
	font-family:"微软雅黑";
	font-size:20px;
	font-weight: bold;
	text-align: justify;
	font-color: #404040;
}

.control-label{
	float:right;
}

.logo-button {
  color: #666;
  background-color: #1F75C0;
  border-color: #1F75C0;
  font-weight: 300;
  font-size: 16px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}


.nav-user .ava-sidebar {
	width: 35px;
	height: 35px;
	left: 0;
	top: 0;
	z-index: 1;
}


.btn-collapse-sidebar-right .icon-count {
	position: absolute;
	top: 3px;
	right: 0;
}

.btn-collapse-sidebar-right .badge-danger {
	background-color: #E9573F;
}



.back-top{
	background:none repeat scroll 0 0 #1F75C0;
	bottom:1px;
	color:#FFFFFF;
	font-size:32px;
	font-weight:bold;
	height:43px;
	opacity:1;
	position:fixed;
	right:17px;
	text-align:center;
	text-decoration:none;
	width:48px;
	z-index:9999;
	display:none;
	background-position-x:0px;
	background-position-y:0px;
	background-origin:padding-box;
	background-clip:border-box;
	
	
}
.back-top.visible:hover{
	opacity:1;
}
.back-top.visible:hover,.back-top.visible:focus{
	color:#FFFFFF;
}

.back-top.visible{
	bottom:1px;
	opacity:0.75;
}

.visible.back-top{
	bottom:60px !important;
}


.panel{
	margin-left: 4px;
	margin-right: 20px;
}


.code-select {
	padding-right:0;
}

.code-select>div {
	padding-right:6px;
}

.code-name input{
	border-left: none;
	background-color:rgb(238, 238, 238);
}

div.table-responsive,div.dataTables_scrollBody{
	padding-bottom:20px;
}
/*隐藏菜单样式*/
.hiddenleft{
	width:5%;
	height:100%;
	float:right;
	
}
.float{
	width:95%;
	float:left;
}
.boxtwo{
	width:250px;
}
/* 项目配置-保障计划-保障组合选项样式 wangxiaoye 20160928-*/ 
.specialCol{
	width:10.3%;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float:left;
}



